<app-header></app-header>

<div class="header-user">
  <p>
    Usuário: Fulano de Tal
  </p>

</div>

<div class="select-user">
  <div class="info">
    <p>
      Usuário: Fulano de Tal
    </p>
    <div>
      <select>
        <option></option>
        <option>Trabalhador</option>
        <option>Cordenador de curso</option>
        <option>Coordenador do Núcleo Pedagógico</option>
      </select>
    </div>
  </div>
  <div>
    <input type="submit" (click)="goto('home-reajuste')">
  </div>

</div>
