<app-header></app-header>
<app-header-user></app-header-user>
<app-action-buttons></app-action-buttons>

<div class="info-box">
  <div class="add-info">
    <h2>Consulta</h2>
    <div class="align-buttons">
      <table class="cent">

        <th>
          <input type="text" placeholder="Data Entrada">
        </th>
        <th>
          <input type="text" placeholder="Data Saida">
        </th>
        <th>
          <div>
            <select>
              <option value="0" disabled selected>Justificativa</option>
              <option>Prod. Conteudo</option>
              <option>Versionamento</option>
              <option>Capacitação</option>
              <option>Empréstimo</option>
            </select>
          </div>
        </th>
      </table>
    </div>
    <input type="submit" value="Insere hora">
  </div>
</div>


<div class="info-box2">
  <div class="list-info">
    <h2>Lista de Horas</h2>
    <table class="list-table">
      <tr>
        <th>Data</th>
        <th>Hora Entrada</th>
        <th>Hora Saida</th>
        <th>Total Horas</th>
        <th>Justificativa</th>
        <th>Opções</th>
      </tr>
      <tr>
        <td>10/10/2016</td>
        <td>08:00</td>
        <td>12:00</td>
        <td>4</td>
        <td>Versionamento</td>
        <td>
          <img src="../../../assets/images/u206.png" alt="">
          <img src="../../../assets/images/u220.png" alt="">
        </td>
      </tr>

      <tr>
        <td>10/10/2016</td>
        <td>13:00</td>
        <td>17:00</td>
        <td>4</td>
        <td>Produção</td>
        <td>
          <img src="../../../assets/images/u206.png" alt="">
          <img src="../../../assets/images/u220.png" alt="">
        </td>
      </tr>
      <tr>
        <td>10/10/2016</td>
        <td>10:00</td>
        <td>12:00</td>
        <td>2</td>
        <td>Capacitação</td>
        <td>
          <img src="../../../assets/images/u206.png" alt="">
          <img src="../../../assets/images/u220.png" alt="">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>10</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<div class="info-box3">
  <div class="add-info1">
    <h2>Legenda:</h2>
    <div class="align-sub">
      <span>
        <img src="../../../assets/images/u206.png" alt=""> Editar</span>
      <span>
        <img src="../../../assets/images/u220.png" alt=""> Excluir</span>

      <table class="subs">

        <th>
          <input type="submit" value="Voltar">
        </th>
        <th style="width: 50%">
          <input type="submit" value="Enviar para analise">
        </th>
      </table>
    </div>
  </div>
</div>
