<app-header></app-header>
<div class="content">
  <th>
    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header">Digite seu E-mail para acessar o Sistema Ajuste de Ponto</h2>

      <form class="login-container">
        <p>
          <input type="email" placeholder="Email">
        </p>
        <p>
          <input type="password" placeholder="Password">
        </p>
        <p>
          <input type="submit" (click)="goto('seleciona-perfil')">
        </p>
        <p>
          <span> Ainda não sou cadastrado!</span>
        </p>
        <p>
          <span> Esqueceu sua senha?</span>
        </p>
      </form>
    </div>
  </th>

  <th>
    <div class="description">
      <div class="desc1">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
          amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
          orci, sed rhoncus sapien nunc eget.</span>
      </div>
      <div class="desc2">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
          amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
          orci, sed rhoncus sapien nunc eget.</span>
      </div>

    </div>
  </th>
</div>
